{% extends "layout.html" %}

{% block title %}
Story
{% endblock %}

{% block main %}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">This story's keywords are: </h1>
            <p class="lead text-muted">{{ wordOne }} </p>    
            <p class="lead text-muted">{{ wordTwo }} </p>  
            <p class="lead text-muted">{{ wordThree }} </p>     
            
        </div>
    </div>
</section>

<div class="album py-5 bg-light">

    <div class="container">
        {% for item in imageInfo.items() %}

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{item[1][0][1]}}" class="bd-placeholder-img card-img-top img-fluid" width="100%"
                        height="225" role="img" aria-label="Placeholder: Thumbnail" focusable="false">
                    <title>{{ item[0] }}</title>
                    <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"> {{
                        item[0] }}</text></img>

                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"> Photo by {{
                                    item[1][0][0] }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{item[1][1][1]}}" class="bd-placeholder-img card-img-top img-fluid" width="100%"
                        height="225" role="img" aria-label="Placeholder: Thumbnail" focusable="false">
                    <title>{{ item[0] }}</title>
                    <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"> {{
                        item[0] }}</text></img>

                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"> Photo by {{
                                    item[1][1][0] }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{item[1][2][1]}}" class="bd-placeholder-img card-img-top img-fluid" width="100%"
                        height="225" role="img" aria-label="Placeholder: Thumbnail" focusable="false">
                    <title>{{ item[0] }}</title>
                    <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"> {{
                        item[0] }}</text></img>

                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"> Photo by {{
                                    item[1][2][0] }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>


<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <h1 class="fw-light">Story</h1>
        <div class="w-50 p-3 mx-auto">
            {% for paragraph in story %}
            <p class="lead text-muted">{{ paragraph }}...</p>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}